<div class="table-container">
    <table class="min-w-full divide-y divide-gray-200 is-fullwidth bg-white hover:bg-gray-50 is-size-7">
        <thead>
            <tr>
                <th>Supplier Name</th>
                <th>Contact Person</th>
                <th>Phone Number</th>
                <th>Supplies To</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in page_obj.object_list %}
                <tr>
                    <td style="vertical-align: middle;"><strong>{{ supplier.name }}</strong></td>
                    <td style="vertical-align: middle;">{{ supplier.contact_person|default:'--' }}</td>
                    <td style="vertical-align: middle;">{{ supplier.phone_number }}</td>
                    <td style="vertical-align: middle;">
                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium {% if supplier.supplies_to == 'Kitchen' %}is-warning{% elif 'Bar' %}is-info{% else %}is-primary{% endif %} is-light">
                            {{ supplier.get_supplies_to_display }}
                        </span>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        {% if supplier.status == 'Active' %}
                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-600 hover:bg-green-700 text-white">Active</span>
                        {% else %}
                             <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-600 hover:bg-red-700 text-white">Inactive</span>
                        {% endif %}
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        <a href="{% url 'pos:supplier_edit' supplier.pk %}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md font-semibold focus:outline-none transition ease-in-out duration-150 text-xs px-2.5 py-1.5 bg-indigo-600 hover:bg-indigo-700 text-white is-light">
                           <span>Edit</span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No suppliers match your filters.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination Links -->
{% if page_obj.has_other_pages %}
<nav class="pagination is-centered mt-4" role="navigation" aria-label="pagination"
     hx-get="{% url 'pos:supplier_list' %}"
     hx-target="#supplier-table-container"
     hx-swap="innerHTML"
     hx-include="#supplier-filters">

    <ul class="pagination-list">
        {% for num in page_obj.paginator.page_range %}
            <li>
                <a href="?page={{ num }}" class="pagination-link {% if page_obj.number == num %}is-current{% endif %}">
                    {{ num }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

