{% extends 'pos/base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
<div class="flex flex-wrap -mx-3 is-centered">
    <div class="w-full px-3 md:w-1/2">
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <header class="border-b border-gray-200 px-6 py-4 flex items-center justify-between has-background-danger">
                <p class="text-lg font-bold text-gray-800 has-text-white">
                    Confirm Deletion
                </p>
            </header>
            <div class="p-6">
                <div class="content">
                    <p>Are you sure you want to delete the {{ item_type }} "<strong>{{ item_to_delete.get_full_name }}</strong>"?</p>
                    <p class="has-text-weight-bold">This action cannot be undone.</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-4 flex space-x-2">
                        <div class="relative">
                            <button type="submit" class="inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md font-semibold focus:outline-none transition ease-in-out duration-150 bg-red-600 hover:bg-red-700 text-white">Yes, Delete</button>
                        </div>
                        <div class="relative">
                            <a href="{% url 'accounts:staff_list' %}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md font-semibold focus:outline-none transition ease-in-out duration-150 is-light">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
