{% extends "admin/change_list.html" %}

{% block content %}
  <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
    <form action="{% url 'admin:import_logistics_csv' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Upload CSV:</label>
      <input type="file" name="csv_file" accept=".csv" required>
      <button type="submit" class="default">Upload</button>

    </form>

    <a href="{% url 'logistics_printable_report' %}" target="_blank">
      <button type="button" class="default">🖨️ Print Report</button>
    </a>
  </div>

  {{ block.super }}
{% endblock %}
